[submodule "flutter"]
	path = app-shared/flutter
	url = https://github.com/flutter/flutter.git
[submodule "boost"]
	path = p2p/boost
	url = https://github.com/boostorg/boost.git
[submodule "cppcoro"]
	path = p2p/cppcoro
	url = https://github.com/lewissbaker/cppcoro.git
[submodule "jsoncpp"]
	path = p2p/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "abseil-cpp"]
	path = min-webrtc/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libsrtp"]
	path = min-webrtc/libsrtp
	url = https://chromium.googlesource.com/chromium/deps/libsrtp
[submodule "usrsctp"]
	path = min-webrtc/usrsctp
	url = https://github.com/sctplab/usrsctp.git
[submodule "sctp-idata"]
	path = min-webrtc/sctp-idata
	url = https://github.com/sctplab/sctp-idata.git
[submodule "webrtc"]
	path = min-webrtc/webrtc
	url = https://webrtc.googlesource.com/src
[submodule "openvpn3"]
	path = p2p/openvpn3
	url = https://github.com/OpenVPN/openvpn3.git
[submodule "lz4"]
	path = p2p/lz4
	url = https://github.com/lz4/lz4.git
[submodule "openzeppelin-solidity"]
	path = openzeppelin-solidity
	url = https://github.com/OpenZeppelin/openzeppelin-solidity.git
[submodule "libmaxminddb"]
	path = vpn-shared/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb.git
[submodule "libevent"]
	path = vpn-shared/libevent
	url = https://github.com/libevent/libevent.git
[submodule "lwip"]
	path = p2p/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "boringtun"]
	path = p2p/boringtun
	url = https://github.com/cloudflare/boringtun.git
[submodule "tor"]
	path = vpn-shared/tor
	url = https://git.torproject.org/tor.git
[submodule "libutp"]
	path = p2p/libutp
	url = https://github.com/bittorrent/libutp.git
[submodule "flutter-desktop-embedding"]
	path = app-shared/flutter-desktop-embedding
	url = https://github.com/google/flutter-desktop-embedding
[submodule "url"]
	path = p2p/url
	url = https://github.com/cpp-netlib/url
[submodule "secp256k1"]
	path = p2p/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "openssl"]
	path = min-webrtc/openssl
	url = https://github.com/openssl/openssl
[submodule "libssh"]
	path = vpn-shared/libssh
	url = https://git.libssh.org/projects/libssh.git
[submodule "zlib"]
	path = min-zlib/libz
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib.git
[submodule "eEVM"]
	path = p2p/eEVM
	url = https://github.com/microsoft/eEVM.git
[submodule "tap-windows6"]
	path = vpn-windows/tap-windows6
	url = https://github.com/OpenVPN/tap-windows6
[submodule "sqlite"]
	path = p2p/sqlite
	url = https://github.com/mackyle/sqlite.git
[submodule "SPCDNS"]
	path = p2p/SPCDNS
	url = https://github.com/spc476/SPCDNS
[submodule "wireshark"]
	path = min-wireshark/wireshark
	url = https://gitlab.com/wireshark/wireshark.git
[submodule "libgpg-error"]
	path = min-wireshark/libgpg-error
	url = https://github.com/gpg/libgpg-error.git
[submodule "libgcrypt"]
	path = min-wireshark/libgcrypt
	url = https://github.com/gpg/libgcrypt.git
[submodule "glib"]
	path = min-glib/glib
	url = https://github.com/GNOME/glib.git
[submodule "libiconv"]
	path = min-glib/libiconv
	url = https://git.savannah.gnu.org/git/libiconv.git
[submodule "gnulib"]
	path = min-glib/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "libcxxabi"]
	path = env/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi.git
[submodule "libcxx"]
	path = env/libcxx
	url = https://github.com/llvm-mirror/libcxx.git
[submodule "quickjs"]
	path = vpn-shared/quickjs
	url = https://github.com/horhof/quickjs
[submodule "intx"]
	path = p2p/intx
	url = https://github.com/chfast/intx.git
[submodule "expected"]
	path = p2p/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "curl"]
	path = p2p/curl
	url = https://github.com/curl/curl.git
[submodule "challenge-bypass-ristretto-ffi"]
	path = p2p/challenge-bypass-ristretto-ffi
	url = https://github.com/brave-intl/challenge-bypass-ristretto-ffi.git
[submodule "icu"]
	path = min-icu4c/icu
	url = https://github.com/unicode-org/icu.git
[submodule "googletest"]
	path = min-zlib/googletest
	url = https://chromium.googlesource.com/external/github.com/google/googletest.git
[submodule "base"]
	path = min-zlib/base
	url = https://chromium.googlesource.com/chromium/src/base
[submodule "build"]
	path = min-zlib/build
	url = https://chromium.googlesource.com/chromium/src/build.git
[submodule "v8"]
	path = min-v8/v8
	url = https://chromium.googlesource.com/v8/v8
[submodule "trace_event"]
	path = min-v8/trace_event
	url = https://chromium.googlesource.com/chromium/src/base/trace_event/common.git
[submodule "protobuf"]
	path = p2p/protobuf
	url = https://chromium.googlesource.com/external/github.com/google/protobuf
[submodule "jinja2"]
	path = min-v8/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2.git
[submodule "markupsafe"]
	path = min-v8/markupsafe
	url = https://chromium.googlesource.com/chromium/src/third_party/markupsafe.git
[submodule "fmt"]
	path = p2p/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "leveldb"]
	path = tst-explore/leveldb
	url = https://github.com/google/leveldb.git
[submodule "c-ares"]
	path = min-wireshark/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "plugins"]
	path = gui-orchid/plugins
	url = https://github.com/flutter/plugins.git
[submodule "SHA3IUF"]
	path = p2p/SHA3IUF
	url = https://github.com/brainhub/SHA3IUF.git
[submodule "cpp-jwt"]
	path = p2p/cpp-jwt
	url = https://github.com/arun11299/cpp-jwt.git
[submodule "cairo"]
	path = min-cairo/cairo
	url = https://github.com/freedesktop/cairo.git
[submodule "libpng"]
	path = min-cairo/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "pixman"]
	path = min-cairo/pixman
	url = https://github.com/freedesktop/pixman.git
[submodule "chains"]
	path = p2p/chains
	url = https://github.com/ethereum-lists/chains.git
[submodule "engine"]
	path = app-shared/engine
	url = https://github.com/flutter/engine.git
[submodule "vpn-libraries"]
	path = min-krypton/vpn-libraries
	url = https://github.com/google/vpn-libraries.git
[submodule "compile-time-regular-expressions"]
	path = p2p/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "trezor-common"]
	path = p2p/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "bech32"]
	path = p2p/bech32
	url = https://github.com/sipa/bech32.git
[submodule "range-v3"]
	path = p2p/range-v3
	url = https://github.com/ericniebler/range-v3.git
