aiohttp==3.6.2
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
base58==2.0.0
boto3==1.11.7
botocore==1.14.7
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
cytoolz==0.10.1
docutils==0.15.2
ecdsa==0.15
eth-abi==2.1.0
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.8.4
google-api-python-client==1.7.11
google-auth==1.10.2
google-auth-httplib2==0.0.3
hexbytes==0.2.0
httplib2==0.16.0
idna==2.8
importlib-metadata==1.4.0
inapppy==2.4.4
ipfshttpclient==0.4.12
jmespath==0.9.4
jsonschema==3.2.0
lru-dict==1.1.6
more-itertools==8.1.0
multiaddr==0.0.9
multidict==4.7.4
mypy-extensions==0.4.3
netaddr==0.7.19
oauth2client==3.0.0
parsimonious==0.8.1
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.4
pyrsistent==0.15.7
pysha3==1.0.2
python-dateutil==2.8.1
requests==2.22.0
rlp==1.2.0
rsa==4.0
s3transfer==0.3.1
six==1.14.0
toolz==0.10.0
typing-extensions==3.7.4.1
uritemplate==3.0.1
urllib3==1.25.8
varint==1.0.2
web3==5.4.0
websockets==8.1
yarl==1.4.2
zipp==2.0.1
