
.total-row {
  margin-top: 16px;
}

.total-row label {
  height: 22px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: #5f45ba;
}

/*todo: move*/
.oxt-1-pad,
.oxt-1 {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.41px;
  text-align: right;
  color: #3a3149;
}

.oxt-1-pad {
  margin-right: 16px;
}
