
.LayoutDesktop {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.LayoutDesktop-left {
  display: flex;
  flex: 1 1 420px;
  max-width: 540px;
  flex-direction: column;
  overflow: hidden;
}

.LayoutDesktop-main {
  display: flex;
  flex: 2 1 720px;
  max-width: 720px;
  flex-direction: column
}
