

.main-content {
  margin-top: 24px;
}

.no-pad,
.no-pad .row {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  padding: 18px;
  justify-content: space-between;
}

.nav-link {
  color: rgb(118, 109, 134) !important;
  padding: 6px 0 0;
}

.nav-link.selected {
  color: rgb(95 69 186) !important;
}

.Layout-nav-button:hover,
.Layout-nav-button:active,
.Layout-nav-button {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  font-size: 12pt;
  font-family: -apple-system, sans-serif;
  line-height: 16pt;
  letter-spacing: 0.0pt;
  background-color: transparent !important;
  border-color: transparent !important;
}

.Layout-nav-button img {
  height: 28pt;
}

.Layout-nav-row {
  height: 50px;
  font-size: 14pt !important;
  font-family: -apple-system, sans-serif;
  align-items: center;
  letter-spacing: 0.0pt;
}

.dropdown-menu {
  background-color: white;
}

.dropdown .btn-primary.dropdown-toggle,
.dropdown .btn-primary.dropdown-toggle:active,
.dropdown .btn-primary {
  background-color: transparent;
  color: gray;
  border-color: transparent;
  box-shadow: none;
}

.dropdown .btn-primary:hover {
  color: transparent !important;
}

.dropdown .btn-primary:active {
  background-color: transparent;
}

.dropdown .nav-link {
  color: rebeccapurple !important;
}

.more-items {
  margin-top: 24px;
}

.back-button {
  font-size: 14pt !important;
  font-family: -apple-system, sans-serif;
  color: rgb(95 69 186);
}

.push-left {
  transform: translate(-100%);
  transition: transform 300ms ease-in-out;
}

.onscreen{
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}

.hidden{
  display: none;
  /*opacity: 0.0;*/
  /*transition: opacity 300ms;*/
}


