/android
/.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/in_app_purchase
/ios/Flutter
/ios/Runner
/ios/.symlinks
/ios/Pods
/lib/generated_plugin_registrant.dart
/linux/flutter
/macos/Flutter
/macos/Pods
/.packages
/windows/flutter/*
!/windows/flutter/CMakeLists.txt
