/android
/.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/in_app_purchase
/ios/Flutter
/ios/Runner
/ios/.symlinks
/ios/Pods
/macos/Flutter
/macos/Pods
/.packages

# XXX: investigate
all_strings.txt
scripts
