
.form-style {
  margin-top: 16px;
  font-family: -apple-system, sans-serif;
}

.wide { }

@media only screen and (min-width: 400px) {
  .form-style:not(.wide) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-style label {
  display: block;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  color: #766d86;
}

/* A row with a left aligned label and right aligned content field */
.form-row {
  justify-content: space-between;
  align-items: baseline;
}

.form-row > .col {
  max-width: 240px
}

.form-row > .span {
  text-align: right;
}

.form-row-label {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  color: #766d86;
}

.form-row-field {
  min-width: 50px;
}

.form-style .title,
.title {
  margin-bottom: 16px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: #3a3149;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin: 0 0 8px;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: solid 2px #d5d7e2;
  background-color: #ffffff;
  font-family: -apple-system, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.41px;
  text-align: right;
  color: #212121;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus {
  border: solid 2px #5f45ba;
  /*text-align: left;*/
}

.form-style select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

.form-style input[type="submit"],
.form-style input[type="button"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  margin: 0 auto 10px;
}

.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover {
}

.form-style hr {
  border-width: 0.5px;
  color: lightslategray;
}

.editable { }

.error {
  color: red;
  margin-left: 6px
}

.instructions-narrow,
.instructions {
  color: gray;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.07px;
  color: #766d86;
}
.instructions-narrow {
  margin: 8px auto;
  text-align: center;
}

/* Pad or hide the number spinner button on number type fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { margin-left: 20px; }
input[type=number] {
  -moz-appearance:textfield;
}
