[Unit]
Description=Orchid Linux Server Node
After=network.target

[Service]
Environment=ORCHID_CONFIG=/etc/orchid.conf
Type=simple
User=ubuntu
ExecStart=/usr/bin/orchid
Restart=always

[Install]
WantedBy=multi-user.target
