[Unit]
Description=Orchid Linux Server Node
After=network.target

[Service]
Environment=ORCHID_CONFIG=/etc/orchidd.conf
Type=simple
ExecStart=/usr/bin/orchidd
Restart=always
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
