
.total-row.nomargin {
  margin-top: 0;
}

.total-row label {
  height: 22px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: #5f45ba;
}

.divider {
  margin-bottom: 16px;
  margin-top: 8px;
}

.modal-content {
  border-radius: 13px;
  padding: 16px;
}

.submit-button button {
  margin-top: 8px;
  margin-bottom: 24px;
  height: 36px;
  width: 215px;
}

.save-your-key {
  margin-bottom: 16px;
}

.save-your-key .title {
  font-size: 14px;
  font-weight: 700;
  color: #5f45ba;
}

.save-your-key .body {
  font-size: 14px;
  font-weight: 400;
  color: #5f45ba;
}

.funder-panel .warn {
  color: #BE092A;
}

.size-picker-button {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  color: #5F45BA;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;

  /* make the button label text not selectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Turn off the selected outline. */
.size-picker-button:focus {
  outline: 0;
}

.size-picker-button:hover {
  background-color: #5F45BA;
  color: white;
}

.size-picker-label {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: black
}
