
/* Range Slider */

.efficiency-slider {
  margin-top: 15px;
}

/* Don't combine -webkit and -moz below because one is always invalid. */
/* Webkit */
.efficiency-slider input[type="range"].range-slider.range-slider--lg::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  background: #5F45BA;
  margin-top: -7px;
  border-radius: 50%;
}
/* Webkit */
.efficiency-slider input[type="range"].range-slider.range-slider--lg::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #5F45BA;
  margin-top: -7px;
  border-radius: 50%;
}

/* Tooltip */
.efficiency-slider .range-slider__tooltip__label {
  background-color: #5F45BA !important;
  border-radius: 1.0rem !important;
  opacity: 1 !important;
  padding: 0 0.4rem !important;
  margin-top: 4px;
}
/* Tooltip arrow */
.efficiency-slider .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__arrow {
  opacity: 1 !important;
}
.efficiency-slider .range-slider__tooltip__arrow::before {
  margin-top: 2px;
  border-top-color: #5F45BA !important;
}


.efficiency-slider.faded input[type="range"].range-slider.range-slider--lg::-webkit-slider-thumb {
  background: #777777;
}
.efficiency-slider.faded input[type="range"].range-slider.range-slider--lg::-moz-range-thumb {
  background: #777777;
}
.efficiency-slider.faded .range-slider__tooltip__label {
  background-color: #777777 !important;
}
.efficiency-slider.faded  .range-slider__tooltip__arrow::before {
  border-top-color: #777777 !important;
}
