name: CI
on: [push]
jobs:



  cache-submodule:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: env/setup.sh
    - uses: ./.github/actions/submodule


  build-and-dkr:
    needs: [cache-submodule]
    runs-on: ubuntu-latest

    steps:
    - run: sudo rm -rf /opt
    - run: sudo rm -rf /usr/local/lib/android

    - uses: actions/checkout@v4
    - run: env/setup-git.sh
    - uses: ./.github/actions/submodule

    - run: cd app-android && env/docker.sh -j3
